@import 'variables';

html {
  text-size-adjust: 100%;
}

body {
  background-color: $background-color;
  color: $black-color;
  font-size: 1rem;
  font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-weight: 700;
}
